<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">About</li>
  </ol>
</nav>

<h3>About</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum at tortor ac congue. Nullam risus urna, consequat ut metus luctus, sodales pharetra mauris. In a erat dui. Donec sed leo varius, tincidunt dui eget, placerat massa. Pellentesque tortor mauris, imperdiet non dapibus in, placerat quis felis. Sed tristique scelerisque mi id pulvinar. Vestibulum ultricies erat at urna suscipit, pellentesque vulputate erat iaculis. Maecenas vehicula orci eu purus efficitur ornare. Nunc in nunc ut metus dignissim laoreet hendrerit vel tellus. Curabitur feugiat purus nec odio lacinia, non condimentum ex posuere. Phasellus elit odio, dignissim quis sem sit amet, tincidunt ullamcorper urna.
</p>

<h3>How it works</h3>
<p>This website is powered by Angular.JS and Google Sheets. We query a Google Sheet with lots of live data in it every time a page is loaded, using an <code>XMLHttpRequest();</code>. We then use algorithms to compile the data into neatly laid-out tables, cross-referencing each other for easy navigation. The website is styled by Bootstrap. It's made to be as compact as possible so that it loads quickly on phones and doesn't use up 'too much data'. It's entirely responsive, and was tested mobile-first.</p>

<p>If you are curious as to how the system works, feel free to email <a href="mailto:kerecsenyip-y15@mgs.org">kerecsenyip-y15@mgs.org</a> (Pal Kerecsenyi, 9ACH) or <a href="mailto:tuckert-y15@mgs.org">tuckert-y15@mgs.org</a> (Theodore Tucker).</p>