<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">About</li>
  </ol>
</nav>

<h3><i class="fas fa-info-circle"></i> About</h3>

<p>This website was developed to allow spectators of the Manchester Grammar School's annual Senior Sports Day to view results, events, and competitors in these events. It is a collaborative effort between the Computer Science and PE departments of the school, the staff responsible in each department being Mr D Millington and Mr T Grainger respectively. It is hoped that students, parents and staff will find this website beneficial. It works by fetching score and competitor data from a Google Drive spreadsheet, and displaying it in an easy-to-use and clear fashion.</p>

<h3>How it works</h3>
<p>This website is powered by AngularJS and Google Sheets. We query a Google Sheet with lots of live data in it every time a page is loaded, using an <code>XMLHttpRequest();</code>. (For the curious, the full, public Google Sheet is avaliable here: <a href="https://goo.gl/kut8PQ">https://goo.gl/kut8PQ</a>.) The Google Sheets API is somewhat difficult to work with, so some "de-Google-ification" needs to take place to the data returned. We then use various algorithms to compile the data into neatly laid-out tables, cross-referencing each other for easy navigation. The website is styled by Bootstrap. It's made to be as compact as possible so that it loads quickly on phones and doesn't use up 'too much data'. It's entirely responsive, and was tested mobile-first.</p>

<h3>Development Credits</h3>
<p>This website was developed by Theodore Tucker, a student of the Manchester Grammar School, under the guidance of Mr D Millington, the Head of Computer Science. This project is open source, and source code is available at the GitHub repository here: <a href="https://github.com/tti0/sportsday">https://github.com/tti0/sportsday</a>. By using this site, you understand that it is licensed under the terms of the GNU General Public License v3.0 (<a href="https://www.gnu.org/licenses/gpl-3.0.txt">https://www.gnu.org/licenses/gpl-3.0.txt</a>), agree to these terms, and thus understand that NO WARRANTY WHATSOEVER is provided.</p>
<p>The development of this website would not be possible without the following open-source libraries and platforms: <br> <em>Libraries marked <code>*CDN*</code> in the list below are loaded from CDNs. All other site dependencies are loaded locally.</em></p>
<ul>
  <li>jQuery v3.3.1 <code>*CDN*</code> - JavaScript library for scripting simplification (<a href="https://jquery.com/">https://jquery.com/</a>).</li>
  <li>AngularJS v1.6.9 <code>*CDN*</code> - Frontend web app framework (<a href="https://angularjs.org/">https://angularjs.org/</a>). The following AngularJS modules are used:</li>
  <ul>
    <li>ngRoute v.1.6.9 <code>*CDN*</code> - AngularJS module for loading different parts of the site, based on a user request (<a href="https://docs.angularjs.org/api/ngRoute">https://docs.angularjs.org/api/ngRoute</a>).</li>
    <li>ngAnimate v.1.6.9 <code>*CDN*</code> - AngularJS module required for smooth loading bar animations (<a href="https://docs.angularjs.org/api/ngAnimate">https://docs.angularjs.org/api/ngAnimate</a>).</li>
    <li>angular-loading-bar v0.9 - AngularJS module for nice loading bars on content requests (<a href="https://chieffancypants.github.io/angular-loading-bar/">https://chieffancypants.github.io/angular-loading-bar/</a>).</li>
    <li>Google Chart Tools AngularJS directive module v1.0.0-beta.1 <code>*CDN*</code> - AngularJS module for chart generation on Insights page (<a href="http://angular-google-chart.github.io/angular-google-chart/">http://angular-google-chart.github.io/angular-google-chart/</a>).</li>
    <li>Angular Google Analytics v1.1.8 - Google Analytics tracking integration module for AngularJS (<a href="https://github.com/revolunet/angular-google-analytics">https://github.com/revolunet/angular-google-analytics</a>).</li>
  </ul>
  <li>Boostrap v4.1 <code>*CDN*</code> - CSS framework (<a href="http://getbootstrap.com/">http://getbootstrap.com/</a>).</li>
  <li>Popper.JS v1.14.3 <code>*CDN*</code> - JavaScript library for pop-up handling (<a href="https://popper.js.org/">https://popper.js.org/</a>).</li>
  <li>Google Visualization API Query Language - API to handle requests from the Google Sheet (<a href="https://developers.google.com/chart/interactive/docs/querylanguage">https://developers.google.com/chart/interactive/docs/querylanguage</a>).</li>
  <li>FontAwesome v5.0 <code>*CDN*</code> - Free inline icons (<a href="https://fontawesome.com">https://fontawesome.com</a>).</li>
  <li>Icons8 - Medal favicon (<a href="https://icons8.com">https://icons8.com</a>).</li>
</ul>
<p>Nor would development be possible without the excellent assistance of Pal Kerecsenyi (<a href="https://github.com/palkerecsenyi">https://github.com/palkerecsenyi</a>), also an MGS student, in debugging and testing AngularJS and JavaScript code.</p>
<h3>Copyright</h3>
<p>This work is copyright (&copy;) Theodore Tucker, 2018. It is licensed for re-use and modification under the terms of the GNU General Public License v3.0 (<a href="https://www.gnu.org/licenses/gpl-3.0.txt">https://www.gnu.org/licenses/gpl-3.0.txt</a>). The copyright of all images used on the site remains with the original photographer, or the Manchester Grammar School.</p>
<h3>Privacy</h3>
<p>This site uses the service Google Analytics to collect information about those who visit it. Google Analytics works by placing 'cookies' (small text files) on your device to identify you as a user to them. Your data is stored by Google's servers for 26 months from your most recent visit to the site. <strong>By using this site, it is assumed that you agree to this.</strong> We advise that all users read the Google Analytics Privacy and Cookie policy here: <a href="http://www.google.com/policies/privacy/partners/">http://www.google.com/policies/privacy/partners/</a>. If you do not want this information to be collected by us, please install the official Google Analytics opt-out extension here: <a href= "https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.</p>
<h3>Contact</h3>
<p>Please direct all enquiries to Mr Daniel Millington, Head of Computer Science at the Manchester Grammar School.<br>
Email: <a href="mailto:d.e.millington@mgs.org">d.e.millington@mgs.org</a><br>
Telephone: (+44) 0161 224 7201 ext. 467</p>
