<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Activities</li>
  </ol>
</nav>

<h3><i class="fas fa-trophy"></i> All activities</h3>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th width="80%">Activity name</th>
      <th width="20%">View</th>
    </thead>
    <tbody>
      <tr ng-repeat="activity in activities">
        <td>{{ activity.c[0].v }}</td>
        <td><a ng-href="#!/a/{{ activity.c[1].v }}" class="btn btn-outline-dark">View activity</a></td>
      </tr>
    </tbody>
  </table>
</div>
