<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Forms</li>
  </ol>
</nav>

<h3>All forms</h3>

<p>This page shows all forms, across the entire school in <strong>alphabetical</strong> order. Their ranks in their year group and the whole school are listed. For forms with 0 points, no rank is shown. For more details, please visit the individual linked form pages.</p>

<table class="table">
  <thead>
    <th width="25%">Form</th>
    <th width="15%">School position</th>
    <th width="15%">Year group position</th>
    <th width="25%">Total points</th>
    <th width="10%">View</th>
  </thead>
  <tbody>
    <tr ng-repeat="form in forms">
      <td>{{ form.c[0].v + form.c[1].v}}</td>
      <td ng-class="{'gold':form.c[3].f==1,'silver':form.c[3].f==2,'bronze':form.c[3].f==3}">{{ form.c[3].f }}</td>
      <td ng-class="{'gold':form.c[3].f==1,'silver':form.c[3].f==2,'bronze':form.c[3].f==3}">{{ form.c[4].f }}</td>
      <td>{{ form.c[2].f }}</td>
      <td><a ng-href="#!/f/{{ form.c[0].v.replace('/','SLASH') }}" class="btn btn-outline-dark">View form</a></td>
    </tr>
  </tbody>
</table>
