<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<h1>Welcome to MGS Sports Day 2018!</h1>

<ul class="nav mb-3 nav-tabs" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="t-top" data-toggle="tab" href="#v-top" onClick="return false;">Top 5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="t-all" data-toggle="tab" href="#v-all" onClick="return false;">All forms</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="v-top">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="15%">School position</th>
          <th>Form</th>
          <th>Total points</th>
          <th width="15%">View</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="score in topfive" ng-class="{'c-gold' : $index==0, 'c-silver': $index==1, 'c-bronze' : $index==2}">
          <td>{{ $index + 1 }}</td>
          <td><strong>{{ score.c[0].v + score.c[1].v }}</strong></td>
          <td>{{ score.c[2].f }}</td>
          <td><a ng-href="#!/f/{{ (score.c[0].v + score.c[1].v).replace('/','SLASH') }}" class="btn btn-outline-dark">View form</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="v-all">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="15%">School position</th>
          <th>Form</th>
          <th>Total points</th>
          <th width="15%">View</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="score in all" ng-class="{'c-gold' : $index==0, 'c-silver': $index==1, 'c-bronze' : $index==2}">
          <td>{{ $index + 1 }}</td>
          <td><strong>{{ score.c[0].v + score.c[1].v }}</strong></td>
          <td>{{ score.c[2].f }}</td>
          <td><a ng-href="#!/f/{{ (score.c[0].v + score.c[1].v).replace('/','SLASH') }}" class="btn btn-outline-dark">View form</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
