<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!">Home</a></li>
    <li class="breadcrumb-item active">Insights</li>
  </ol>
</nav>

<h3><i class="fas fa-chart-pie"></i> Insights</h3>
<p>This page provides a selection of graphs, updated automatically as live data changes. These graphs visualize the Sports Day data, and are intended to aid the comprehension of scores for users.</br>Users should note that this page is <strong>experimental</strong>, and some features may not work as intended.</p>

<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" href="#!/i/1">Year groups - share of total points</a>
      <a class="list-group-item list-group-item-action" href="#!/i/2">Forms - share of total points</a>
      <a class="list-group-item list-group-item-action" href="#!/i/3">Per Activity</a>
    </ul>
  </div>
  <div class="col-lg">
    <p class="text-muted d-none d-lg-block">Select an insight from the panel to the left.</p>
    <p class="text-muted d-lg-none">Select an insight from the panel above.</p>
  </div>
</div>
